<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Layer Game - Web Cv0</title>
    
    <!-- import the webpage's stylesheet -->
    <link rel="stylesheet" href="/style.css">
    
    <!-- import the webpage's javascript file -->
  </head>  
  <body>
    
    <div id="app">
      <h1>Layer Game</h1>
      <button id="dbl">
        You have <span class="dp">{{points.toFixed(3)}}</span> points. <br>
        You are getting <span class="g">{{getPointGen().toFixed(3)}}</span> points every second. <br>
        The point gain formula is 1/(points^{{hasUpgrade(0, 2) ? hasUpgrade(0, 5) ? 1.25 : 1.5 : 2}})
      </button><br>
      <br><div id="tabs">
        <button style="width:10%;height:2.5vw;" onclick="game.tab=0">Main</button>
        <button style="width:10%;height:2.5vw;" onclick="game.tab=1">Settings</button>
    </div><br>
      <div v-if="tab === 0">
        <button onclick="buyUpgrade(0, 0)">
          <h2>Basic Multiplier</h2>
          Point gain is doubled<br>
          Cost: 3 Points<br>
          {{hasUpgrade(0, 0) ? "[bought]" : "[missing]"}}
        </button>
        <button onclick="buyUpgrade(0, 1)">
          <h2>Powerizer</h2>
          Gain is x^{{hasUpgrade(0,4) ? "3" : "2"}} if gain > 1, gain is x^{{hasUpgrade(0,4) ? "0.5" : "0.3"}} if gain < 1<br>
          Cost: 5 Points<br>
          {{hasUpgrade(0, 1) ? "[bought]" : "[missing]"}}
        </button>
        <button onclick="buyUpgrade(0, 2)">
          <h2>Scaling Nerf</h2>
          Formula exponent is lowered by 0.{{hasUpgrade(0,5) ? "75" : "5"}}<br>
          Cost: 12 Points<br>
          {{hasUpgrade(0, 2) ? "[bought]" : "[missing]"}}
        </button>
        <button onclick="buyUpgrade(0, 3)">
          <h2>Log Buff</h2>
          Multiply gain by log<sub>sqrt(points+1)</sub>(points+1) <br>
          Cost: 20 Points<br>
          {{hasUpgrade(0, 3) ? "[bought]" : "[missing]"}}
        </button>
        <button onclick="buyUpgrade(0, 4)">
          <h2>Powerizerizer</h2>
          Make the <b>powerizer</b> 50% better<br>
          Cost: 33 Points<br>
          {{hasUpgrade(0, 4) ? "[bought]" : "[missing]"}}
        </button>
        <button onclick="buyUpgrade(0, 5)">
          <h2>Double Whammy</h2>
          <b>Scaling Nerf</b> is 50% more effective<br>
          Cost: 100 Points<br>
          {{hasUpgrade(0, 5) ? "[bought]" : "[missing]"}}
        </button>
      </div>
      <div v-if="tab === 1">
        <h1>Settings</h1>
        <button onclick="hardReset()" style="width:10%;height:2vw;">oh no reset</button>
      </div>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="exp.js"></script>
    <script src="tools.js"></script>
    <script src="script.js"></script>
  </body>
</html>
